<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fire Detection</title>
    <link rel="stylesheet" href="./static/index.css" />
  </head>
  <body>
    <div class="navbar">
      <a href="#">Fire Detection System</a>
    </div>
    <form
      id="upload-form"
      action="/predict"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="image" class="file-label">Choose File</label>
      <input type="file" id="image" name="image" accept="image/*" />
      <input
        type="text"
        id="city-input"
        name="city"
        placeholder="Enter City Name"
      />
      <input type="submit" value="Detect Fire" />
    </form>
    <button id="live-detect-button" onclick="redirectToLiveDetect()">
      Live Detect
    </button>
    <img
      id="uploaded-image"
      src="./static/images/img3.jpg"
      alt="Uploaded Image"
    />
    <div id="error-message" class="error-message" style="display: none"></div>

    <script>
      const imageInput = document.getElementById("image");
      const uploadedImage = document.getElementById("uploaded-image");
      const errorMessage = document.getElementById("error-message");

      imageInput.addEventListener("change", (event) => {
        const file = event.target.files[0];
        if (file) {
          const reader = new FileReader();
          reader.onload = function (e) {
            uploadedImage.src = e.target.result;
            uploadedImage.style.display = "block";
            errorMessage.style.display = "none";
          };
          reader.readAsDataURL(file);
        } else {
          uploadedImage.style.display = "none";
          errorMessage.innerText = "Please choose a file.";
          errorMessage.style.display = "block";
        }
      });

      function redirectToLiveDetect() {
        window.location.href = "/livedetect";
      }
    </script>
  </body>
</html>
