<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Live Video Capture</title>
    <link rel="stylesheet" href="./static/live.css" />
  </head>
  <body>
    <div class="navbar">
      <a href="/">Live Fire Detection</a>
    </div>

    <div class="maincontain">
      <div class="video-container">
        <h2>Live Fire Detection<span id="red-dot" class="red-dot"></span></h2>
        <video id="live-video" autoplay></video>
        <button id="start-button">Start</button>
        <button id="stop-button">Stop</button>
        <div class="currentmessage">
          <div id="latest-message" class="latest-message"></div>
        </div>
      </div>

      <div class="message-container">
        <h2>History</h2>
        <div id="message-container" class="messages"></div>
      </div>
    </div>

    <script>
      const video = document.getElementById("live-video");
      const latestMessageContainer = document.getElementById("latest-message");
      const messageContainer = document.getElementById("message-container");
      const messages = [];

      let intervalId;

      navigator.mediaDevices
        .getUserMedia({ video: true })
        .then((stream) => {
          video.srcObject = stream;
        })
        .catch((error) => {
          console.error("Error accessing camera:", error);
        });

      function captureAndSendImage() {
        const canvas = document.createElement("canvas");
        const context = canvas.getContext("2d");

        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;

        context.drawImage(video, 0, 0, canvas.width, canvas.height);

        canvas.toBlob(function (blob) {
          const file = new File([blob], "image.jpg", { type: "image/jpeg" });
          const formData = new FormData();
          formData.append("image", file);

          fetch("/detect-fire", {
            method: "POST",
            body: formData,
          })
            .then((response) => {
              if (response.ok) {
                return response.json();
              } else {
                messages.push("something wrong");
                updateMessages();
                return Promise.reject(new Error("Failed to send image")); // Reject for error handling
              }
            })
            .then((data) => {
             
                const latestMessage = data.message;
                latestMessageContainer.innerText = latestMessage;
                if (data.message != "no fire and smoke") {
                messages.push(data.message);

                updateMessages();
              }
            })
            .catch((error) => {
              console.error("Error:", error);
              messages.push("Error: Unable to detect fire.");
              updateMessages();
            });
        }, "image/jpeg");
      }

      function updateMessages() {
        const otherMessages = messages.slice(0, -1);
        const messageList = otherMessages
          .map((message) => `<div class="message">${message}</div>`)
          .join("");
        messageContainer.innerHTML = messageList;

        messageContainer.scrollTop = messageContainer.scrollHeight;
      }
      const redDot = document.getElementById("red-dot");
      const startButton = document.getElementById("start-button");
      const stopButton = document.getElementById("stop-button");

      let h = true; // Define the variable h to control the blinking state

      startButton.addEventListener("click", () => {
        intervalId = setInterval(captureAndSendImage, 5000);

        redDot.style.backgroundColor = "red";
        blinkIntervalId = setInterval(blink, 500); // Set interval for blinking
      });

      function blink() {
        redDot.style.visibility = h ? "visible" : "hidden";
        h = !h;
      }

      stopButton.addEventListener("click", () => {
        clearInterval(intervalId);
        clearInterval(blinkIntervalId);
        redDot.style.visibility = "visible";
        redDot.style.backgroundColor = "green";
      });

      captureAndSendImage();
    </script>
  </body>
</html>
