<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fire Detection Result</title>
    <link rel="stylesheet" href="./static/predict.css" />
  </head>
  <body>
    <div class="navbar">
      <a href="/">Live Fire Detection</a>
    </div>

    <div class="container">
      <h2>Fire Detection Result</h2>

      {% if fire_detected and smoke_detected %}
      <div class="result">
        <p style="color: #d9534f">Fire and Smoke detected in {{ city }}</p>
      </div>
      {% elif fire_detected %}
      <div class="result">
        <p style="color: #d9534f">Fire detected in {{ city }}</p>
      </div>
      {% elif smoke_detected %}
      <div class="result">
        <p style="color: #d9534f">Smoke detected in {{ city }}</p>
      </div>
      {% else %}
      <p>No fire detected in {{ city }}</p>
      {% endif %} {% if weather_data is defined %}
      <div class="result">
        <p style="color: #5bc0de">
          Estimated Fire Area: {{ estimated_area }} sq. km
        </p>
        <p>Weather Details in {{ city }}:</p>
        <p>Temperature: {{ weather_data.main.temp }}°C</p>
        <p>Humidity: {{ weather_data.main.humidity }}%</p>
        <p>Wind Speed: {{ weather_data.wind.speed }} m/s</p>
      </div>
      {% endif %}

      <img src="static{{ image_path }}" alt="Uploaded Image" />
    </div>
  </body>
</html>
